- name: Install GKS welcome.html
  template: src=gks_welcome.html.j2 dest="{{ galaxy_server_dir }}/static/welcome.html"
  when: GKS

- name:  Copy additional files
  copy: src={{ item.src }} dest={{ item.dest }} owner={{ galaxy_user_name }}
  with_items:
    - "{{ additional_files_list }}"
  tags:
   - persists_galaxy

- name: Create nginx error files dirs
  file:
    path: "{{ galaxy_errordocs_dest }}/{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - 413
    - 500
    - 502

- name: Place nginx 502 error file
  copy:
    src: /usr/share/nginx/html/50x.html
    dest: "{{ galaxy_errordocs_dest }}/502/index.shtml"
    remote_src: true
  when: ansible_distribution_version == '14.04'

- name: Place nginx 502 error file
  copy:
    src: /usr/share/nginx/html/index.html
    dest: "{{ galaxy_errordocs_dest }}/502/index.html"
    remote_src: true
  when: ansible_distribution_version == '16.04'

- name: Place nginx error files
  copy:
    src: /usr/share/nginx/html/index.html
    dest: "{{ galaxy_errordocs_dest }}/{{ item }}/index.html"
    remote_src: true
  with_items:
    - 413
    - 500

- name: Install rstudio interactive environment config files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - {src: "rstudio.ini.j2", dest: "{{ galaxy_config_dir }}/plugin/interactive_environments/rstudio/config/rstudio.ini"}
    - {src: "allowed_images.yml.j2", dest: "{{ galaxy_config_dir }}/plugin/interactive_environments/rstudio/config/allowed_images.yml"}
