[submodule "galaxy_vm/roles/galaxyprojectdotorg.galaxyextras"]
	path = galaxy_vm/roles/galaxyprojectdotorg.galaxyextras
	url = git://github.com/galaxyproject/ansible-galaxy-extras
[submodule "galaxy_vm/roles/galaxyprojectdotorg.galaxy-os"]
	path = galaxy_vm/roles/galaxyprojectdotorg.galaxy-os
	url = git://github.com/galaxyproject/ansible-galaxy-os
[submodule "galaxy_vm/roles/galaxyprojectdotorg.galaxy"]
	path = galaxy_vm/roles/galaxyprojectdotorg.galaxy
	url = git://github.com/galaxyproject/ansible-galaxy
[submodule "galaxy_vm/roles/galaxyprojectdotorg.galaxy-extras"]
	path = galaxy_vm/roles/galaxyprojectdotorg.galaxy-extras
	url = git://github.com/galaxyproject/ansible-galaxy-extras
[submodule "galaxy_vm/roles/galaxyprojectdotorg.galaxy-tools"]
	path = galaxy_vm/roles/galaxyprojectdotorg.galaxy-tools
	url = git://github.com/galaxyproject/ansible-galaxy-tools
[submodule "galaxy_vm/roles/galaxyprojectdotorg.galaxy-posgresql"]
	path = galaxy_vm/roles/galaxyprojectdotorg.galaxy-posgresql
	url = git://github.com/galaxyproject/ansible-postgresql
