user  {{ galaxy_user_name }};
worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;

    keepalive_timeout  65;
    types_hash_max_size 2048;

    gzip  on;
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    client_max_body_size 50g;
    uwsgi_read_timeout 300;

{% if not galaxy_uwsgi %}
    upstream galaxy_web_app {
       server localhost:8080;
    }
{% endif %}

    server {
        listen 80 default_server;
        server_name  localhost;

{% if nginx_proxy_reports %}
        # enable reports under :80/reports/
        # if the file /etc/nginx/htpasswd exists authentification is enabled
        location /reports/ {
            set $auth "Galaxy reports are restricted. Please contact your administrator.";

            if (!-f /etc/nginx/htpasswd) {
                set $auth off;
            }

            auth_basic $auth;
            auth_basic_user_file htpasswd;
            proxy_pass http://127.0.0.1:{{ galaxy_reports_port }}/;
        }
        # serve static content for report app
        location /reports/static {
            alias /galaxy-central/static;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location /reports/static/style {
            alias /galaxy-central/static/style/blue;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location /reports/static/scripts {
            alias /galaxy-central/static/scripts/packed;
            gzip on;
            gzip_types text/plain text/javascript application/x-javascript;
            expires 24h;
        }
{% endif %}

        # pass to uWSGI by default
{% if galaxy_uwsgi %}
        include {{ nginx_conf_directory }}/uwsgi.conf;
{% else %}
        include {{ nginx_conf_directory }}/galaxy_web.conf;
{% endif %}

{% if nginx_proxy_ide %}
        include {{ nginx_conf_directory }}/ide.conf;
{% endif %}

{% if nginx_serve_planemo_machine_web %}
        location /planemo {
            alias {{ planemo_machine_web_dir }};
        }
{% endif %}

        # serve static content
        location /static {
            alias {{ galaxy_root }}/static;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location /static/style {
            alias {{ galaxy_root }}/static/style/blue;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }
        location /static/scripts {
            alias {{ galaxy_root }}/static/scripts/packed;
            gzip on;
            gzip_types text/plain text/javascript application/x-javascript;
            expires 24h;
        }

        # delegated downloads
        location /_x_accel_redirect {
            internal;
            alias /;
        }

        # this is needed if 'welcome_url' is set to /etc/galaxy/web
        location /etc/galaxy/web {
            alias /etc/galaxy/web;
            gzip on;
            gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
            expires 24h;
        }

        location ~ ^/plugins/visualizations/ipython/static/(?<static_file>.*?)$ {
            alias {{ galaxy_root }}/config/plugins/interactive_environments/ipython/static/$static_file;
        }
        location ~ ^/plugins/visualizations/rstudio/static/(?<static_file>.*?)$ {
            alias {{ galaxy_root }}/config/plugins/interactive_environments/rstudio/static/$static_file;
        }
        location ~ ^/plugins/visualizations/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
            alias {{ galaxy_root }}/config/plugins/visualizations/$vis_name/static/$static_file;
        }


        # delegated uploads
        location /_upload {
            upload_store {{ nginx_upload_store_path }};
            upload_store_access user:rw;
            upload_pass_form_field "";
            upload_set_form_field "__${upload_field_name}__is_composite" "true";
            upload_set_form_field "__${upload_field_name}__keys" "name path";
            upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
            upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
            upload_pass_args on;
            upload_pass /_upload_done;
        }
        location /_upload_done {
            set $dst /api/tools;
            if ($args ~ nginx_redir=([^&]+)) {
                set $dst $1;
            }
            rewrite "" $dst;
        }

        error_page 502  /502.html;
        location = /502.html {
            root  /root/;
            proxy_intercept_errors on; 
        }


    }
}
