# As GalaxyKickStart did its job, we can hard link slurmd.conf and munge.key

- name: hard link slurmd.conf and munge.key
  file:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    state: hard
  with_items:
    - { src: '/etc/slurm-llnl/slurm.conf', dest: '/home/galaxy/slurm.conf' }
    - { src: '/etc/munge/munge.key', dest: '/home/galaxy/munge.key' } 

- name: set permissions for munge.key
  file:
    path: /etc/munge/munge.key
    state: file
    follow: yes
    owner: 1450
    group: 100
    mode: 0600

- name: reconfigure slurm.conf for cluster
  template: src=configure_slurm.py.j2 dest=/usr/sbin/configure_slurm.py


- name: restart slurmctld and slurmd
  supervisorctl: name={{ item }} state=restarted
  with_items:
    - slurmctld
    - slurmd

- name: stop nginx and galaxy
  supervisorctl: name={{ item }} state=stopped
  with_items:
    - 'galaxy:'
    - 'nginx'

- name: start nginx and galaxy
  supervisorctl: name={{ item }} state=started
  with_items:
    - 'galaxy:'
    - 'nginx'
