# TODO: this shouldn't be necessary, proftpd handles this
- name: Create proftpd dir
  file: path="{{ proftpd_files_dir }}" state=directory mode=0777
  sudo: yes
  sudo_user: "{{ galaxy_user_name }}"

- name: Manage template for proftpd
  template: src={{ item.src }} dest={{ item.dest }}
  with_items:
    - { src: "proftpd.conf.j2", dest: "{{ proftpd_conf_path }}" }

- name:  Copy additional files
  copy: src={{ item.src }} dest={{ item.dest }} owner={{ galaxy_user_name }}
  with_items:
    - "{{ additional_files_list }}"
    
- name: Restart/start supervisor tasks
  supervisorctl: name={{ item.name }} state={{ item.state }}
  with_items:
    - { name: "proftpd", state: "restarted" }
    - { name: "munge", state: "started" }
    - { name: "nginx", state: "started" }
  
